footer.footer-section {
    background-color: #000;
    padding: 1rem 0;
    margin-top: 20px;
}
.bg-with-black {
    position: relative;
}
.footer-top-section {
    margin: 0 0 47px;
}
.single-fta > img {
    margin: 0 0 7px;
    width: 180px;
}
.single-fta p {
    color : white;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
    line-height: 1.2rem;
    margin-top: 5px;
}
.single-fta h3 {
    color : white;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
    line-height: 1.2rem;
    margin-bottom: .3rem;
}
.single-fta ul.fta-list {
    list-style: none;
    padding: 0;
}
.single-fta ul.fta-list li, .single-fta ul.fta-list li a {
    box-sizing: border-box;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
}
.single-fta ul.fta-list {
    list-style: none;
    padding: 0;
}
.fta-title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 20px;
}
.single-fta ul a {
    color: white;
    margin-right: 8rem;
}
.single-fta ul a span {
    margin-left: .8rem;
    font-family: "Montserrat";
    font-size: 14px;
}

.fba-links {
    text-align: right;
}

.fba-links ul li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
}
.fba-links ul {
    list-style: outside none none;
    padding: 0;
}
.fba-links ul li {
    display: inline-block;
    margin-left: 28px;
}
.fba-copyright {
    color: #fff;
    line-height: 1.2rem;
    text-align: right!important;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: .8rem;
}
.fba-copyright-right {
    color: white;
    font-size: .8rem;
    text-align: right;
}
.fba-copyright-left{
    color: #fff;
    line-height: 1.2rem;
    text-align: right!important;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: .8rem;
}
.content-center {
    box-sizing: border-box;
}
@media (max-width: 575.98px) {
    .fba-copyright {
        color: #fff;
        text-align: center!important;
    }
}